[submodule "vim"]
	path = vim
	url = git@github.com:dcunited001/dc.files.vim
[submodule "init"]
	path = init
	url = git@github.com:dcunited001/dc.files.init
[submodule "janus"]
	path = janus
	url = git@github.com:carlhuda/janus
[submodule "iterm"]
	path = iterm
	url = git@github.com:dcunited001/dc.files.iterm
[submodule "subl"]
	path = subl
	url = git@github.com:dcunited001/dc.files.subl
[submodule "kbd"]
	path = kbd
	url = git@github.com:dcunited001/dc.files.kbd
[submodule "tmux"]
	path = tmux
	url = git@github.com:dcunited001/dc.files.tmux
[submodule "gitconf"]
	path = gitconf
	url = git@github.com:dcunited001/dc.files.gitconf
[submodule "zsh"]
	path = zsh
	url = git@github.com:dcunited001/dc.files.zsh
[submodule "ryanb"]
	path = ryanb
	url = git@github.com:ryanb/dotfiles
[submodule "omz"]
	path = omz
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule "bash"]
	path = bash
	url = git@github.com:dcunited001/dc.files.bash
[submodule "alias"]
	path = alias
	url = git@github.com:dcunited001/dc.files.alias
[submodule "osx"]
	path = osx
	url = git@github.com:dcunited001/dc.files.osx
[submodule "prelude"]
	path = prelude
	url = git@github.com:bbatsov/prelude
[submodule "emacs"]
	path = emacs
	url = git@github.com:dcunited001/dc.files.emacs
[submodule "rb"]
	path = rb
	url = git@github.com:dcunited001/dc.files.rb
